@page
@model ClientDbWebApp.Pages.Clients.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form class="clientForm" method="post">
            <p class="text-danger">@Model.ErrorMessage</p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Client.ClientName" class="control-label"></label>
                <input asp-for="Client.ClientName" class="clientName form-control" />
                <span asp-validation-for="Client.ClientName" class="clientNameError text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.ClientInn" class="control-label"></label>
                <input asp-for="Client.ClientInn" class="clientINN form-control" />
                <span asp-validation-for="Client.ClientInn" class="clientInnError text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.ClientType" class="control-label"></label>
                <select asp-for="Client.ClientType" class="clientTypeSelect form-control">
                    <option>ИП</option>
                    <option>ЮрЛицо</option>
                </select>
                <span class="clientTypeError text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="JsonFounders" class="clientFoundersList form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="saveClientButton btn btn-primary">Сохранить клиента</button>
                <button type="button" class="addNewFounderButton btn btn-secondary">Добавить учредителя</button>
            </div>
        </form>

        <div class="foundersInfoBlock col-md-4 container">
        </div>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/page-content.js" asp-append-version="true"></script>
    <script src="~/js/validation.js" asp-append-version="true"></script>
    <script src="~/js/founder-form.js" asp-append-version="true"></script>
    <script src="~/js/button-control.js" asp-append-version="true"></script>
    <script src="~/js/create-page.js" asp-append-version="true"></script>
}
